body{
  text-align: center;
    background-color:  #87dfd6;
}
.mypic{
  height: 130px;
  width: 90px;
}
.one{
    background-color:  #87dfd6;
}
.p1{
  width: 50%;
}
hr{
  border-color: white;
  border-bottom: 0;
  border-style: dotted;
  width: 10%;
  border-top: 50;
}
h1{
  font-size: 200%;
  font-weight: normal;
  font-style: italic;
  padding-top: 20px;
}
h2{
  color: blue;
  padding-top: 25px;
}
#h22{
  text-align: center;
}
h3{
  color:#01a9b4;
  text-align: left;
}
#h2{
  padding-top: 20px;
  margin: 0;
}
#h3{
  text-align: center;

}
#p4{
  padding-bottom: 25px;
}
#p6{
  padding-bottom: 25px;
}
.skills{
}
.one{
  float: right;
  text-align: justify;
}
.welcome{
  position: absolute;
  right: 0px;
  top: 0px;
}
.cloud{
  position: absolute;
  left: 30px;
  top: 70px;
}
.middle-container{
  background-color: white;
}
.eyes{
  width: 20%;
}
#asd{
  text-align: center;
}
.man1{
  height: 140px;
  width: 100px;
  float: left;
  margin-right: 30px;
}
.aam{
width: 25%;
  float: right;
    margin-left: 30px;
}
.skill-row{
  text-align: left;
  width: 50%;
  margin:50px auto;
    line-height: 1;
}
.contact-me{
  background-color:  #87dfd6;
}
.bottom-container{

}
